h1{
    text-align: center;
}

div{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    max-width: 100%;
    height: auto ;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}